---
import MainLayout from "src/layouts/MainLayout.astro";


---

<MainLayout
    title="404"
    description="description"
>
    <h1>404</h1>
    <p>Lo sentimos, la página que estás buscando no existe.</p>
    <a href="/">Volver al inicio</a>
</MainLayout>